@font-face {
    font-family: 'MiFuente';
    src: url('/resources/Champions.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MiFuente', sans-serif;
}

html {
    height: 100%;
}

body {
    background:
    linear-gradient(to right, transparent, rgb(40, 6, 142)), url("/resources/uefa.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

main {
    width: 60%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    gap: 18px;
    transition: all 0.5s ease-in-out; /* Transición suave */
}

.card {
    width: 150px;
    height: 145px;
    perspective: 1000px;
    padding: px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}


.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 0 1px #000;
    overflow: hidden;

}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front img{
    width: 100%; /* Reduce el tamaño de la imagen dentro de la carta */
    height: 110%;
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
}

@media (max-width: 800px) {
    main {
        width: 90%;
        transition: width 0.5s ease-in-out;
    }

    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    }

    .card {
        width: 100px;
        height: 100px;
    }
}
