* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color:darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

main {
    width: 55%;
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    gap: 18px;
}

.card {
    width: 140px;
    height: 140px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 0 1px #000;
    overflow: hidden;

}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
}

@media (max-width: 800px) {
    main{
        width: 80%;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 5px;
        gap: 5px;
    }

    .container {
        padding: 5px;
    }

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}